{% extends "_base.html" %}

{% block content %}

<form role="form" id="post-form" method="POST" onsubmit="return false" enctype="multipart/form-data">
  <div class="form-group">
    <input id="file-picker" type="file" name="file" class="form-control input-lg" accept="image/*">
    <button type="submit" class="btn btn-lg btn-block btn-success boom" id="search">Run OCR</button>
  </div>
</form>

<div id="results">
  <h1>Result</h1>
  <div id="results-data"></div>
</div>

<br><br>

<div id="retry"><a href="">Again</a></div>

{% endblock %}